# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
ENV/
env.bak/
venv/

# Environment variables
.env
.env.*

# IDE/editor settings
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Logs
*.log

# Docker
*.pid
*.seed

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

.qdrant_data
.qdrant_data/*

# Large data files
src/chatbot-ui/notebook/*.jsonl
# Exclude small sample files from gitignore
!src/chatbot-ui/notebook/*sample*.jsonl


